<style>

    .blog {
        background-color: white;
        padding: 32px;
        border-radius: 10px;
    }

    .blog .first-font {
        font-size: 64px;
        line-height: 32px;
        color: gray;
    }

    .blog .dot:after {
        content: ".";
        font-size: 300%;
        line-height: 0;
        color: gray;
        position: relative;
    }

    .blog p {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
    }

    .blog h2 {
        font-size: 18px;
        font-weight: 500;
        color: gray;
    }

    .blog .video {
        border-radius: 10px;
        margin: 32px 0 0 0;
    }

    .blog .autor {
        margin: 32px 0;
        color: gray;
    }
</style>


<div class="blog">
    <div class="container">

        <h2>Programando en Scala</h2>
        <iframe class="video" width="100%" height="315"
                src="https://www.youtube.com/embed/mPNsNLf22cA">
        </iframe>
        <div class="autor">
            Carlos Rojas - 31 Mayo 2021
        </div>


        <p><span class="first-font">A</span> menudo la programación funcional es vista como un paradigma orientado
            a la investigación y cumple un rol importante en la academia.
            Scala a propuesto aplicar estos modelos en una programación multiparadigma que pretende soportar dos
            ecosistemas,
            la programación funcional y la programación orientada a objetos<span class="dot"></span>
        </p>

        <p>Para quienes no lo sepan, ha habido una discusión amplia entre los practicantes de ambas disciplinas, Por un
            lado, los programadores funcionales a menudo pueden despreciar a sus homólogos colegas practicantes de la
            programación orientada a objetos. Esto es porque los programas funcionales pueden ser muy concisos y
            elegantes, empaquetando mucho comportamiento en muy pocas líneas de código. Los programadores funcionales
            argumentaran que en un mundo multi núcleo, se debe evitar a toda costa el estado mutable de los elementos de
            una aplicación al momento de ser escalable, haciendo de las aplicaciones básicamente modelos
            matemáticos<span class="dot"></span>
        </p>
        <p>Scala es un lenguaje de programación multiparadigma que nos permite trabajar con todo lo ya definido en la
            programación orientada a objetos pero en conjunto con conceptos de programación funcional que hacen de este
            un ecosistema muy rico en soluciones de alta escalabilidad<span class="dot"></span></p>
        <p>Los programadores orientados a objetos responderán que en los entornos empresariales reales, muy pocos
            programadores utilizarian lenguajes funcionales. La programación orientada a objetos es suficientemente
            escalable en términos de desarrolladores en la industria. Si bien la programación puede verse como una
            disciplina de matemáticas aplicadas, la ingeniería de software requiere que combinemos las soluciones
            técnicas con los problemas comerciales. Modelar el dominio enfocandolo en una representación de objetos del
            mundo real es la manera en que la programacion orientada a objetos pretende cerrar esa brecha
            <span class="dot"></span></p>




    </div>
</div>

