<nav class="menu">
    <div class="container">
        <ul>
            <li>
                <a href="index.html">
                    <span class="iso-logo" id="logo">$ krloz.dev</span>
                </a>
            </li>
            <li><a href="#">ABOUT ME</a></li>
            <li><a href="#">EN</a> | <a href="#">ES</a></li>
        </ul>
    </div>
</nav>

<style>
    .menu {
        background: #3D3D3D;
        opacity: 0.8;
        color: white;
        margin-bottom: 32px;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        font-weight: 300;
        list-style: none;
        padding: 16px 16px 16px 0;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    .iso-logo {
        color: #4CFF89;
    }
</style>